/* Navigation  */
 #navbar{
    flex-direction: column;
  
}  
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 8px;
    padding-bottom: 8px;

}


/* Home section */
#home{
    height: 340px;
    padding: 3px 50px;
   
    
}
#home::before{ 
    height: 480px;
} 
#home p{
    font-size: 17px;
}


/* Services section */

#services{
    flex-direction: column;
}
#services .box{
padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
    margin-left: 17px;
}



/* Services section */
#servicess{
    flex-direction: column;
}
#servicess .box{
padding: 44px;
    margin: 2px 0px; 
    margin-bottom: 20px;
}



/* Client section */
#clients{
   flex-wrap: wrap;
}
#clients img{
    width: 66px;
    padding: 6px;
    height: auto;
}



/* Contact us section */
#contact-box form{
    width:80%;
}

/* Footer */


/* Utility Section */
.h-primary{
    font-size: 35px;
}

#servicess .box{
    height: 360px;
    width: 320px;
    padding: 34px;
    margin: 15px 10px;
    

}

#servicess .box img {
    height: 100px;
    margin: auto;
    display: block;
    transform: scale(1.4);
    margin-bottom: 35px;
}




.btn{
    font-size: 13px;
    padding: 4px 8px;
}                                                         

/* Grid ke liye */
.grid-section{
    grid-template-columns: 1fr;  /* ek column */
    grid-template-rows: auto;     /* rows height content ke hisab se */
    gap: 16px; /* boxes ke beech space */
}

.big-box{
    height: 1030px;
    width: 65%;
}
.big-box img{
    height: 50%;
    width: 100%;
    padding-bottom: 1%;
    border-radius: 35px;
   
     
}


.grid-box{
    height: 400px;
    width: 68%;
    margin-left: 15px;
    
   
}








